<%- include("partials/header"); -%>
<div id="about-content">
    <h1 id="about-content-h1">About us</h1>
    <p id="about-content-p"> <%= aboutContent %> </p>
    <hr>
</div>
<%- include("partials/footer"); -%>
